



.show{
  line-height: 5px;
  cursor: pointer;
  transition: all 0.12s;
}
.show:hover{
  font-size: 10px;
}


.light .parag{
  color: #444242;
  
}
.dark .parag{
  color: aliceblue;
}
.closeform{
  display: none;
}